# ðŸ”´ Task 12: Introduction to Pandas (Series, DataFrame basics)

### 1.Create a Pandas Series from a Python list, numpy array, and a dictionary.

In [2]:
import numpy as np
import pandas as pd 

list1=[1,2,3,4]
list2=[5,6,7,8]
array1=np.array(list2)
dictionary1={
             'Name':['Malaika','Saman','Sidrah','Tayebah'],
             'University':["NUST","LUMS","GIKI","FAST"],
             'Home town':["Quetta","Peshawar","Karachi","Lahore"]
             }

print("Python list :",list1,"\n")
print("Numpy array",array1,"\n")
print("Dictionary",dictionary1,"\n")

pseries1=pd.Series(list1)
pseries2=pd.Series(array1)
pseries3=pd.Series(dictionary1)

print("Panda series from python list\n",pseries1,"\n")
print("Panda series from Numpy Array\n",pseries2,"\n")
print("Panda series from Dictionary\n", pseries3,"\n")

Python list : [1, 2, 3, 4]

Numpy array [5 6 7 8]

Dictionary {'Name': ['Malaika', 'Saman', 'Sidrah', 'Tayebah'], 'University': ['NUST', 'LUMS', 'GIKI', 'FAST'], 'Home town': ['Quetta', 'Peshawar', 'Karachi', 'Lahore']}

Panda series from python list
 0    1
1    2
2    3
3    4
dtype: int64

Panda series from Numpy Array
 0    5
1    6
2    7
3    8
dtype: int32

Panda series from Dictionary
 Name            [Malaika, Saman, Sidrah, Tayebah]
University               [NUST, LUMS, GIKI, FAST]
Home town     [Quetta, Peshawar, Karachi, Lahore]
dtype: object

### 2. Assign a custom index to the Series.

In [4]:
custom_index=['a','b','c','d']
pseries1.index=custom_index
print("Series with custom indexing :\n",pseries1)

Series with custom indexing :
 a    1
b    2
c    3
d    4
dtype: int64

### 3. Perform basic arithmetic operations on Series.

In [5]:
list1=[1,2,3,4]
list2=[5,6,7,8]
array1=np.array(list2)
dictionary1={
             'Name':['Malaika','Saman','Sidrah','Tayebah'],
             'University':["NUST","LUMS","GIKI","FAST"],
             'Home town':["Quetta","Peshawar","Karachi","Lahore"]
             }

pseries1=pd.Series(list1)
pseries2=pd.Series(array1)
pseries3=pd.Series(dictionary1)
sum=pseries1+pseries2
print("Sum of the two pandas series is: \n", sum,"\n")

subtract=pseries2-pseries1
print("Subtraction of the two pandas series is: \n",subtract,"\n")

product=pseries1*pseries2
print("Product of the two pandas series is: \n", product,"\n")

divide=pseries2/pseries1
print("Division of the two pandas series is: \n", divide,"\n")

Sum of the two pandas series is:
 0     6
1     8
2    10
3    12
dtype: int64

Subtraction of the two pandas series is:
 0    4
1    4
2    4
3    4
dtype: int64

Product of the two pandas series is:
 0     5
1    12
2    21
3    32
dtype: int64

Division of the two pandas series is:
 0    5.000000
1    3.000000
2    2.333333
3    2.000000
dtype: float64

### 4.Access elements using index labels and positions.

In [6]:
print(" Series 1\n",pseries1)
custom_index=['a','b','c','d']
print("\n")
pseries1.index=custom_index
print("Series1 wit custom indexing\n:",pseries1)
access=pseries1.loc['c']
print("\n")
print("Accessing third element of pandas series #01 using index label:",access)
access1=pseries1.iloc[2]
print("Accessing third element of pandas series #01 using position :",access1)

 Series 1
 0    1
1    2
2    3
3    4
dtype: int64


Series1 wit custom indexing
: a    1
b    2
c    3
d    4
dtype: int64


Accessing third element of pandas series #01 using index label: 3
Accessing third element of pandas series #01 using position : 3

### 5.Filter the Series to include only values greater than a specific threshold.

In [7]:
print(pseries1)
filtered_series = pseries1[pseries1 > 2]
print("\n")
print("Series with values greater than 2\n",filtered_series)

a    1
b    2
c    3
d    4
dtype: int64


Series with values greater than 2
 c    3
d    4
dtype: int64

### 6. Create a DataFrame from a dictionary of lists.

In [8]:
print("Dictionary of lists\n",dictionary1)
print("\n")
df1=pd.DataFrame(dictionary1)
print("DATA FRAME FROM DICTIONARY\n:",df1)

Dictionary of lists
 {'Name': ['Malaika', 'Saman', 'Sidrah', 'Tayebah'], 'University': ['NUST', 'LUMS', 'GIKI', 'FAST'], 'Home town': ['Quetta', 'Peshawar', 'Karachi', 'Lahore']}


DATA FRAME FROM DICTIONARY
:       Name University Home town
0  Malaika       NUST    Quetta
1    Saman       LUMS  Peshawar
2   Sidrah       GIKI   Karachi
3  Tayebah       FAST    Lahore

### 7.Create a DataFrame from a numpy array, specifying column and index names.

In [9]:
array1=np.array([['Malaika','Mahjabeen','Fatimah'],[23,22,21],[1,3,5]])
print(array1)
columns = ['1', '2', '3']
index = ['Name', 'Age', 'Semester']
pd.DataFrame(array1,columns=columns,index=index)

[['Malaika' 'Mahjabeen' 'Fatimah']
 ['23' '22' '21']
 ['1' '3' '5']]

                1          2        3
Name      Malaika  Mahjabeen  Fatimah
Age            23         22       21
Semester        1          3        5

### 8. Load a DataFrame from a CSV file.

In [11]:

pd.read_csv('Desktop/TASK#12_BWF_Malaika/Fortune 500 2017 - Fortune 500.csv')

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [12]:
company=pd.read_csv('Desktop/TASK#12_BWF_Malaika/Fortune 500 2017 - Fortune 500.csv')

### 9.Display the first and last five rows of the DataFrame.

In [13]:
company.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [14]:
company.tail()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

### 10.Get a summary of the DataFrame including the mean, median, and standard deviation of numeric columns

In [15]:
company.describe()

,Rank,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,500.000000,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,250.492000,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,144.477366,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,1.000000,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,125.750000,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,250.500000,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,375.250000,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,500.000000,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

### 11.Extract a specific column as a Series.

In [16]:
company['Industry']

0                         General Merchandisers
1      Insurance: Property and Casualty (Stock)
2                   Computers, Office Equipment
3                            Petroleum Refining
4                      Wholesalers: Health Care
                         ...
495                  Specialty Retailers: Other
496                                Homebuilders
497             Internet Services and Retailing
498                                      Energy
499            Diversified Outsourcing Services
Name: Industry, Length: 500, dtype: object

### 12.Filter rows based on column values.

In [17]:
energy_companies = company.loc[company['Industry'] == 'Energy']
print(energy_companies)

     Rank                Title                           Website  Employees  \
102   103  World Fuel Services            http://www.wfscorp.com       5000
228   229           NRG Energy                http://www.nrg.com       8763
236   237  NGL Energy Partners  http://www.nglenergypartners.com       3200
366   367             Williams           http://www.williams.com       5604
399   400              Calpine            http://www.calpine.com       2372
456   457                  UGI            http://www.ugicorp.com      13105
498   499        Vistra Energy       http://www.vistraenergy.com       4431

     Sector Industry           Hqlocation               Hqaddr  \
102  Energy   Energy            Miami, FL   9800 N.W. 41st St.
228  Energy   Energy        Princeton, NJ  804 Carnegie Center
236  Energy   Energy            Tulsa, OK    6120 S. Yale Ave.
366  Energy   Energy            Tulsa, OK    1 Williams Center
399  Energy   Energy          Houston, TX       717 Texas Ave.
456  Energy   Energy  King of Prussia, PA     460 N. Gulph Rd.
498  Energy   Energy           Dallas, TX       1601 Bryan St.

              Hqcity Hqstate  ...  \
102            Miami      FL  ...
228        Princeton      NJ  ...
236            Tulsa      OK  ...
366            Tulsa      OK  ...
399          Houston      TX  ...
456  King of Prussia      PA  ...
498           Dallas      TX  ...

                                         Ceo-title  \
102  Chairman, President & Chief Executive Officer
228  President, Chief Executive Officer & Director
236             Chief Executive Officer & Director
366  President, Chief Executive Officer & Director
399  President, Chief Executive Officer & Director
456  President, Chief Executive Officer & Director
498  President, Chief Executive Officer & Director

                                         Address Ticker  \
102          9800 N.W. 41st St., Miami, FL 33178    INT
228     804 Carnegie Center, Princeton, NJ 08540    NRG
236           6120 S. Yale Ave., Tulsa, OK 74136    NGL
366           1 Williams Center, Tulsa, OK 74172    WMB
399            717 Texas Ave., Houston, TX 77002    CPN
456  460 N. Gulph Rd., King of Prussia, PA 19406    UGI
498             1601 Bryan St., Dallas, TX 75201    VST

                            Fullname Revenues Revchange Profits  Prftchange  \
102  World Fuel Services Corporation    27016     -11.1   126.5       -27.5
228                 NRG Energy, Inc.    12351     -15.8  -774.0         6.7
236           NGL Energy Partners LP    11742     -30.1  -198.9      -633.2
366     The Williams Companies, Inc.     7499       1.9  -424.0          -9
399              Calpine Corporation     6716       3.8    92.0       -60.9
456                  UGI Corporation     5686     -15.0   364.7        29.8
498              Vistra Energy Corp.     5164       4.0  -214.3         5.2

     Assets  Totshequity
102    5413       1925.0
228   30355       2041.0
236    5560       1656.0
366   46835       4643.0
399   19317       3268.0
456   10847       2851.0
498   15167       6597.0

[7 rows x 23 columns]

### 14.Add a new column to the DataFrame.

In [21]:
company['Employees_Left']=10
company

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,Emoloyees_Left,Employees_Left
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,10,10
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,10,10
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,10,10
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,10,10
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,10,10
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,10,10
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,10,10
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,10,10
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,10,10

### 15.Delete a column from the DataFrame.

In [23]:
del company['Employees_Left']

### 16 Rename columns in the DataFrame.

In [26]:
company=company.rename(columns={'Employees':'Total_Employees'})
company

,Rank,Title,Website,Total_Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Total_Assets,Totshequity,Emoloyees_Left
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,10
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,10
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,10
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,10
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,10
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,10
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,10
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,10
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,10